[2012-01-24 13:52] ismell opened #1 "baseUrl is not absolute"
My template has the following

[code]

My Config looks like so

[code]

When I hit the following url: http://rangelwed/app_dev.php/reception/edit

My require block generates the following

[code]

if you notice the baseUrl it's relative. This causes the request to wedcore/edit to go to http://rangelwed/app_dev.php/reception/js/wedcore/edit.js. This is incorrect and instead should go to http://rang

[2012-02-15 20:09] bigethan commented on #1
in your config.yml you can specify

[code]

in your main config, and then in your config_dev.yml do:

[code]

and that should get you want you want.

[2012-03-03 23:48] AsaAyers opened #4 "Scripts are not accessible"
The documentation indicates that scripts should be kept in %kernel.root_dir%/scripts and Resources/scripts under your bundle. Neither of these are accessible and I don't see anything in your bundle that handles requests to /app_dev.php/js. I want to keep the original javascript files private and only expose optimized/uglified files. Am I missing something or does this bundle not do that?

[2012-03-05 08:06] kmontag commented on #1
Fixed; note that @bigethan 's workaround breaks as a result, though.  The base_url specified in the config will now be automatically appended to the request root, regardless of whether it contains a leading slash.

[2012-03-05 08:48] AsaAyers commented on #4
I sort of found the problem but not a great solution yet. If I leave the base url alone it always requests js/namespace/script.js. I changed my config_dev to use /app_dev.php/js as the base_url, but assectic then uses that when building the routes. so now my files are only accessible when requesting /app_dev.php/app_dev.php/js/namespace/script.js

Right now I'm working around this by configuring r

[2012-03-05 08:57] #4 closed, assigned to nobody

[2012-03-05 08:57] AsaAyers commented on #4
Your fix in https://github.com/hearsayit/HearsayRequireJSBundle/issues/1 solved my problem here too. I think my problem was caused by trying to use bigethan's workaround

[2012-03-05 09:37] kmontag commented on #4
Yep, files in your configured directories (%kernel.root_dir%/scripts and */Resources/scripts in the README) are served as Assetic assets.  So there's no bundle-specific routing - you can check out the Hearsay\RequireJSBundle\Factory namespace to see how the assets and their names are generated.

I'm adding an option to hide unoptimized Javascript files, which should be useful in production environ

[2012-03-05 15:55] ismell commented on #1
Awesome thanks!

[2012-03-05 21:26] AsaAyers commented on #1
Your commit works as long as your .htaccess is working to hide the /app.php part of the URL. Maybe it should check if kernel.debug is set? Or maybe see how assetic figures out the URL for production?

[2012-03-12 05:34] #1 closed, assigned to nobody

[2012-03-12 05:38] kmontag commented on #1
Base URL is now chosen based on the value of %assetic.use_controller%.  If a controller is being used for assets, the root path (e.g. app.php or app_dev.php) will be included in the base URL (unless it's being hidden by .htaccess).  Otherwise, the base URL is just the one specified in your config.

This feels a bit tightly tied to the Assetic Bundle implementation; if anyone has thoughts on a bett

[2012-03-20 22:05] cve opened #5 "Is there sample app shows how to use it?"
Hello, I'm newbe to require.js and I'don't understund how to use it this bundle correctly... Is there sample app shows how to use it in the web? How to define require modules and where... ?

[2012-03-21 00:36] #5 closed, assigned to nobody

[2012-06-14 20:09] beberlei opened #8 "More docs on how integrated with Assetic"
The docs do not explain at all how the bundle works. It only describes how to configure it. Please give some information on how this hooks into assetic and what configuration for assetic has to be done to make it work.

[2012-06-26 16:03] craigmarvelley commented on #8
+1, that would be nice - I've followed the documentation and while it's generating a concatenated file as per the Assetic config, it's not using it, and continuing to load files individually. Not sure if it's a bug, or something I've missed.

[2012-07-10 16:28] ruimarinho opened #12 "RequireJS 2.0 support and other improvements"
With the release of RequireJS 2.0, it has become even more simple to manage module dependencies. The current version of `HearsayRequireJSBundle` does not work with the most recent release of RequireJS because it needs some work to get this upgrade rolling (see [upgrade notes](https://github.com/jrburke/requirejs/wiki/Upgrading-to-RequireJS-2.0)). Above are some notes from a debugging session, alth

[2012-07-11 08:18] kmontag commented on #12
Currently looking into the baseUrl and paths bugs :)

As for the RequireJS src, for now you can load a local version by specifying an alternate `initialize_template` which extends `'HearsayRequireJSBundle::initialize.html.twig'` and overrides the `src` block.  That's something of a hack, though - currently my thought is to allow specifying either a URL or a _template name_ as the `src` config opti

[2012-07-11 10:19] ruimarinho commented on #12
Correct, I overwrote the `initialize.html.twig` template, but the integration with Assetic with a custom route could be a better option.

I think `shims` fit on the bundle config too, although it would be optimal to dynamically generate a `js` config file and then dump it for Assetic processing. This way we can take advantage of some bundle processing, but still being able to tweak the settings wi

[2012-07-26 07:09] bendavies opened #14 "Assetic filter not run on cache:clear"
Since Assetic does a asset dump on cache:clear, I would expect RequireJSOptimizerFilter to run too, but it doesn't appear to.

Haven't done much digging, as to why yet.

[2012-10-07 21:46] hardchor opened #18 "Assets config not being included"
Hi there.

Following config:

[code]

I'm also serving assets statically (i.e. not through the assetic controller) and am don't have r.js configured (I assume this is optional).

The `paths` directive is not being passed through to the view.
Looking through [HearsayRequireJSExtension.php](https://github.com/hearsayit/HearsayRequireJSBundle/blob/master/DependencyInjection/HearsayRequireJSExtension.

[2012-10-21 00:17] pliniocsfernandes commented on #12
Any updates on this one?

[2012-10-28 03:48] kayue opened #19 "RequireJSBundle should use assets_base_urls"
I use the following config in my config.yml to enable CDN:

[code]

I think RequireJSBundle should use `assets_base_urls` the settings too.

Is there any other way we can enable CDN?

[2013-01-27 18:13] ozone1979 opened #22 "Errors with Laravel 4. (phpunit tests)"
Time: 11 seconds, Memory: 9.75Mb

There were 3 errors:

1) Hearsay\RequireJSBundle\Tests\Templating\Helper\RequireJSHelperTest::testDefaultInitialization
Missing argument 4 for Hearsay\RequireJSBundle\Templating\Helper\RequireJSHelper::__construct(), called in C:\wamp\www_test\inc\core\vendor\hearsay\require-js-bundle\Hearsay\RequireJSBundle\Tests\Templating\Helper\RequireJSHelperTest.php on line

[2013-02-01 12:23] Koc opened #23 "Service definition "hearsay_require_js.optimizer_filter" not exists"
Method `addExternalNamespaceMapping` should check for this definition before calling

[code]

[2013-02-17 21:54] ihortymoshenko commented on #23
Can you write a step by step what you did to get the error message? Thanks!

[2013-02-17 22:10] ihortymoshenko commented on #22
The constructor method does not include the fourth argument. Perhaps, it is depends on Laravel 4 even if the last uses Symfony components. I also did not found the constructor method impelementations in the following class `Symfony\Component\Templating\Helper\Helper`. Please provide more information. Thanks!

[2013-02-17 22:21] ihortymoshenko commented on #18
I think this is not necessary. Is it creates any problems?

[2013-02-18 09:06] Koc commented on #23
I've just added external js

[2013-02-18 10:16] ihortymoshenko commented on #23
Thanks for the feedback. I will check ASAP.

[2013-02-18 13:26] adamborowski commented on #12
in config.yml write in requirejs section:

[code]

[2013-02-19 21:28] ihortymoshenko commented on #12
I have some thoughts after reading this issue. I think possible to implement the ability to customize configuration options for each bundle using some namespaces which are reflect the bundle names. In addition, specify some global configuration options which will be applied to each bundle with the ability to override the latter at the bundle level configuration. What do you think?

[2013-02-23 20:46] #23 closed, assigned to nobody

[2013-03-28 12:18] sprain commented on #18
Could it be I am struggling with the same issue?
http://stackoverflow.com/questions/15680066/hearsayrequirejsbundle-javascript-files-not-found

[2013-03-29 10:54] ihortymoshenko commented on #18
@sprain, are you sure that the path is exists? The `addExternalNamespaceMapping` method will be executed only if the path is an external. Perhaps, you specified the wrong path. Symfony contains resources such as css, images and js under the `Resources` directory in the directories with related names. Check again please.

[2013-04-02 08:39] sprain commented on #18
@IgorTimoshenko I might be misunderstanding something. So it isn't possible to keep JS files outside of the public folder and only serve them with Assetic over dynamically generated routes?

[2013-04-03 11:50] #19 closed, assigned to nobody

[2013-04-03 11:53] ihortymoshenko commented on #18
@sprain, I meant that you should check whether the specified path is real.

[2013-04-09 15:56] craigmarvelley commented on #18
Also ensure that you clear your Symfony cache after registering new paths, that's caught me out a few times.

[2013-04-10 23:22] jeremymarc commented on #18
I'm getting the same problem.

When I'm not using "external: true", paths for internal location are not output with the require config file (so requirejs cannot find my modules).
We need it for modules which are not located in the base_directory.

I've found a workaround, using "external: true" and specifying the location like this: "/bundles/acme/js" cc @hardchor.

[2013-04-11 08:37] craigmarvelley commented on #18
@hardchor The paths configuration node is for defining additional paths to the `base_directory`, which is the default. So the `frontend` path is redundant - your scripts should be available from the base directory.

Assuming you have this dir structure:

[code]

and you're trying to load the main script like this:

[code]

Try removing that frontend path from the config, and instead load your main

[2013-04-20 05:36] jeelo opened #28 "RequireJSOptimizerFilter and r.js version 2.1.5"
Hi,

I'm fighting a little to get this bundle working when using "php app/console assetic:dump --env=prod --no-debug" and the latest version of r.js ( 2.1.5 )

When specifying the following config in config.yml everything works fine on app_dev.php/:

hearsay_require_js:
    optimizer:
        path: /opt/local/lib/node_modules/requirejs/bin/r.js
        options: { skipModuleInsertion: true }
    ba

[2013-04-20 08:10] hardchor commented on #28
Have you tried specifying the jquery path without the .j's suffix?

[2013-05-15 14:01] rayrigam opened #29 "Define path fallback in the configuration file?"
I'm using the latest version of this bundle with Symfony 2.2 and would like to use external scripts loaded from a CDN for the require.min.js, jquery and other files. I tried the following in my Symfony2 config.yml file:

[code]

However, the following error was thrown when updating the autoload file with composer update: `Invalid type for path "hearsay_require_js.require_js_src". Expected scalar,

[2013-05-15 14:29] ihortymoshenko commented on #29
@rayrigam, try to define a few paths with different names.

[2013-05-15 15:03] rayrigam commented on #29
@IgorTimoshenko , if I do that it seems like I would have to write a condition in my main or modules files to check if the scripts from the CDN loaded (and if not load the local ones), which is what I was trying to avoid. It seems like I could do it from within the requirejs.config definition in my main.js file as shown here http://stackoverflow.com/a/12075285, moving all the paths definition to m

[2013-05-15 15:21] ihortymoshenko commented on #29
@rayrigam, looks like it is possible to add the ability to specify array values for the `paths` config. I will add this ASAP.

[2013-05-15 16:10] rayrigam commented on #29
@IgorTimoshenko , good to hear! Looking forward to it!

[2013-05-17 21:13] #29 closed, assigned to nobody

[2013-05-22 21:46] cbourgois opened #31 "Coffeescript support"
I'm not sure what I read. Is it possible to use coffee script code,convert it in javascript and optimize it in a single AMD js file ?
If yes, what is the typical configuration?

[2013-05-25 21:30] rayrigam commented on #29
@IgorTimoshenko Thanks! The paths now work with arrays to be able to define fallback files (which is what I was looking for). However, it is worth mentioning that paths locations do not work with strings anymore in the new bundle version. People will need to update by adding square brackets to the paths defined in the config.yml file. Also, one more question: is there a way to define a fallback fo

[2013-05-25 22:41] ihortymoshenko commented on #29
@rayrigam, not at all. I will think about your comment. As for path fallback for `RequireJS`, I did not find any about it in docs.

[2013-05-25 22:54] ihortymoshenko commented on #31
@cbourgois, we have PR https://github.com/hearsayit/HearsayRequireJSBundle/pull/17 with changes which allow to use files with any extensions. So they are will be accessable for `RequireJS`. Will it be enough?

[2013-07-09 21:25] #22 closed, assigned to nobody

[2013-07-14 03:55] vkartaviy opened #35 "Optiomization with paths that contains dot in their name"
Due to command line argument syntax limitation (http://requirejs.org/docs/optimization.html#basics) it's not possible to provide path with dot inside name, for example *backbone.wreqr" so it should be embed inside build profile file together with shim configuration.

[2013-07-18 16:25] rayrigam opened #38 "External Path definition in config.yml file is not working?"
With the latest 1.0.5 and 2.0.x-dev versions of this bundle, defining external locations in the Paths are not working.
If I use either:

[code]

Or:

[code]

I get the following error while loading the page in the browser:

However, if I use an internal location like the following, I get no script errors, and everything loads fine:

[code]

It is to notice that the issue was introduced with a rece

[2013-07-20 14:43] ihortymoshenko commented on #35
@vkartaviy, I honestly don't like current configuration for `r.js` and I think about adding support for build file but I don't know when exactly this will be available :)

[2013-07-20 17:17] ihortymoshenko commented on #38
@rayrigam, thanks for an active contribution. I found at least one issue with paths that are actually URLs, not files in the local filesystem. The logic with checking each path as a file in the local filesystem was added with shim support, so I need some time in order to fix it. I also want to make some code refactoring for the namespace mapping. You should use the older version of the bundle, whi

[2013-07-20 19:45] rayrigam commented on #38
@IgorTimoshenko thanks for looking into this! I'll keep using the older version for now as you suggested. Best!

[2013-07-21 16:37] ihortymoshenko commented on #38
@rayrigam, check your application please. I made the appropriate changes for the `1.0.x` branch (the new one tag is currently not available until I'll be sure that all works ok) and for the `2.0.x` branch with some refactorings. Thanks!

[2013-07-21 16:44] ihortymoshenko commented on #31
@cbourgois, I've read the `RequireJS` docs again and I think there is no sense in adding such ability. You should use the `require-cs` loader plugin for the `RequireJS`. See https://github.com/jrburke/require-cs for docs.

[2013-07-21 16:44] #31 closed, assigned to nobody

[2013-07-21 18:38] arnaud-lb commented on #31
@IgorTimoshenko please see my comment at https://github.com/hearsayit/HearsayRequireJSBundle/pull/17#issuecomment-21314558

[2013-07-22 20:21] jameshalsall commented on #28
@IgorTimoshenko @kmontag  I think this is an issue, I get the same error when using requirejs 2.1.8 and the new shim:

My config for requirejs:

[code]

I initialise with the usual block and filter:

[code]

My `App.js` looks like:

[code]

The output of my App.js file shows an error:

For some reason it's double suffixing the jquery library, but as you can see I'm not defining it with with the su

[2013-07-23 16:01] ihortymoshenko commented on #28
@jameshalsall, what's the version of the bundle?

[2013-07-23 16:20] jeelo commented on #28
Not sure if relevant but i had fixed it by overriding the optimizer filter:

class RequireJSOptimizerFilter extends Filter
{

[code]

}

and creating a service compiler pass:

class OverrideServiceCompilerPass implements CompilerPassInterface
{
    /**
     \* You can modify the container here before it is dumped to PHP code.
     *
     \* @param ContainerBuilder $container container
     *

[2013-07-23 20:06] jameshalsall commented on #28
@IgorTimoshenko dev-master, latest release

[2013-07-24 10:25] jameshalsall commented on #28
@jeelo thanks for the solution, I will implement this in the meantime - @IgorTimoshenko can you confirm that this is an issue?

[2013-07-24 13:59] ihortymoshenko commented on #28
@jameshalsall, I didn't have an ability to check it. Anyway, I'll check it.

[2013-07-24 18:12] jameshalsall commented on #28
@IgorTimoshenko appreciated. I'm also now seeing an issue in the travis build for my project (https://travis-ci.org/tickit-project/tickit/jobs/9442345#L757) with `FilenamesResource::isFresh();`

It doesn't look like its resolving the file path names when they have no file extension.

[2013-07-26 08:47] monbro commented on #8
+1 Especially the optimization is not clear enough to me. I cant get it working with the guide. Even I dont know here I should look up for error messages.

[2013-07-26 08:59] ihortymoshenko commented on #8
There is no nothing special. I'm going to rewrite documentation but a little bit later after resolving current issues and refactoring the filter for Assetic. Be patient please ;)

[2013-07-27 16:00] rayrigam commented on #38
@IgorTimoshenko thanks! I checked the new version and it works. It now takes the external URLs defined in the config paths and if it cannot find the asset at the first URL defined in the array, it uses the fallback. One thing to mention though is that for internal fallbacks to work, one needs to define the entire internal path (it does not use the base_directory defined in the config.yml file) as

[2013-07-28 20:46] ihortymoshenko commented on #35
@vkartaviy, I've rewritten the `r.js` filter for Assetic. Now will be generated dynamically the build profile's file, so we wouldn't have the issue with dots in the modules' names.

[2013-07-28 20:46] #35 closed, assigned to nobody

[2013-07-28 21:24] ihortymoshenko commented on #28
@jeelo, I close this issue. You specified the path with the `.js` file extension. I have recently added the check in order to prevent specifying the paths with file extensions. Besides, I've checked it with the latest version of the `r.js` (2.1.8) and all works.

@jameshalsall, your issue we discuss here https://github.com/hearsayit/HearsayRequireJSBundle/pull/39.

[2013-07-28 21:24] #28 closed, assigned to nobody

[2013-07-29 15:47] ihortymoshenko commented on #38
@rayrigam, yes, you're right but it's another issue that is related to the `getRealPath` method, so I close the current issue. Anyway, I know about it and I'll fix it in the nearest future.

[2013-07-29 15:47] #38 closed, assigned to nobody

[2013-07-29 16:58] rayrigam commented on #38
thanks!

[2013-08-04 15:10] ihortymoshenko commented on #14
@bendavies, I'm not sure that the described behaviour is normal. Anyway, I've checked the `assetic:dump` command and all works as expected.

[2013-08-04 15:10] #14 closed, assigned to nobody

[2013-08-05 08:16] ihortymoshenko commented on #12
@ruimarinho, at this moment we don't have only the ability to specify a local path to the `RequireJS` via the `require_js_src`. Can you confirm? I'll add the last and close this issue. Thanks!

[2013-08-22 21:09] benglass opened #42 "Packages/paths with .js in the name cannot be used"
In the 1.0 branch you cannot use any paths that have .js anywhere in them (for example twitter libraries such hogan.js and typeahead.js when installed with bower both include folders in their paths with .js in them). This problem is being caused by .js being replaced with '' in [HearsayRequireJSExtension](/hearsayit/HearsayRequireJSBundle/blob/1.0/DependencyInjection/HearsayRequireJSExtension.php)

[2013-08-24 17:11] #42 closed, assigned to nobody

[2013-08-24 20:48] ihortymoshenko commented on #12
I've added the ability to specify the local path to the `RequireJS`. If you have any questions, create a new issue please. Thanks!

[2013-08-24 20:48] #12 closed, assigned to nobody

[2013-08-26 00:03] benglass opened #43 "2.0 does not support build_profile option in bundle configuration"
The current 2.0 branch does not support the build_profile configuration option to allow for external build profile. I found this to be a key feature for any dynamic/runtime generated modules that I needed to mark as :empty so they would not create an error during build because they cannot be located. This is also a key feature for advanced configuration.

[2013-08-26 00:08] benglass opened #44 "Assetic filter with production flag causes 404 errors in dev environment"
Using the 1.0 branch (because it supports build_profie, see #43) with use_controller: true for assetic in dev environment to dynamically generate assets on page load and using the assetic filter with the production flag (see example below) I end up with 404s in dev environment. It seems the asset url should still be generated but the filter should just not be applied. Instead it seems that the ass

[2013-08-26 21:06] ihortymoshenko commented on #43
@afishnamedsquish, yes, you're right. I've removed the `build_profile` configuration option in the `2.0` version. The build profile's file is generated on the fly now. I made this decision because we had an issue with modules' names which contain dots and the old code was hard to maintain.

I'm not sure that I correctly understand you about "dynamic/runtime generated modules". Can you be more spec

[2013-08-26 21:12] ihortymoshenko commented on #44
@afishnamedsquish, looks like you're right. I've just tried to run the test application on the `1.0` branch and I caught the same issue. I'll see what we can do and give you a feedback.

[2013-08-26 21:25] benglass commented on #43
@IgorTimoshenko Sometimes I will define a module of configuration options which are dynamic within a view. I will then call define('some_options', { dynamic: option, dynamic2: option2 }); in the view itself. This is then loaded later via require('some_options') in the actual module where its used.

some_options must be excluded from the build profile (or marked as empty:) or an error is generated.

[2013-08-26 21:26] benglass commented on #44
@IgorTimoshenko I actually figured out what was causing this which is that when you use the @Bundle notation in your paths config you end up with an absolute path to the module that does NOT include the dev environment prefix of app_dev.php. This means that assetic's asset controller is not triggered even if you have use_controller set to true. It seems to be fixed in the 2.0 branch.

[2013-08-26 21:42] ihortymoshenko commented on #43
@afishnamedsquish, can this issue be resolved with supporting the [config](http://requirejs.org/docs/api.html#config-moduleconfig)? As for the `excludes` configuration option, you can look this [test](https://github.com/hearsayit/HearsayRequireJSBundle/blob/master/Tests/Assetic/Filter/RJsFilterTest.php#L125). Looks like it works.

[2013-08-26 21:54] ihortymoshenko commented on #44
@afishnamedsquish, in the `2.0` branch the `baseUrl` configuration option contains the script. I think I can port this file into the `1.0` branch but a little bit later when I'll fix a small undocumented issue.

[2013-08-26 23:05] benglass commented on #43
@IgorTimoshenko possibly can be resolved via config option, thanks for pointing me in that direction. I'll take another look at the excludes issue and see if I can isolate the problem I was having.

[2013-08-27 19:56] benglass commented on #43
@IgorTimoshenko I'm not sure that the mainConfigFile in combination with the dynamically generated build profile will work for what I am trying to do.

Running a multi-page site, I want to optimize my main module separately from the per page modules. The main module would have jquery and any other globally used modules in it. These modules may be a dependency in the per page modules but they shoul

[2013-08-28 08:08] samvdb opened #45 "assetic:dump --watch keeps generating files"
Hi,

I am using the latest master build of RequireJSBundle and when using i noticed existing files are not removed and new files keep generating untill the "unable to write" exception is thrown.

[code]

File example:

[code]

Im guessing something is wrong in the Assetic loader?

my config:

[code]

[2013-08-28 08:35] samvdb commented on #45
Found the problem. My config has the following error creating an infinite loop:

_WRONG_

[code]

_CORRECT_

[code]

[2013-08-28 08:35] #45 closed, assigned to nobody

[2013-08-28 13:36] psrpinto commented on #43
@afishnamedsquish I had the same requirement and "fixed it" by adding a `modules` section to the config (I'm running my own fork):

[code]

See [this commit](https://github.com/regularjack/HearsayRequireJSBundle/commit/bb590280c749f36d45439651c6a6079516b46e67). If there's interest I can turn this into a PR. @IgorTimoshenko

[2013-08-28 14:59] benglass commented on #43
@regularjack thanks this would be super helpful. @IgorTimoshenko I'm not sure if you have a recommendation on an alternate approach to this but being able to do per module exclusions seems to me a requirement for multi-page websites so this seems like it would be a great feature to support.

[2013-08-28 15:33] ihortymoshenko commented on #43
@regularjack, looks interesting.

I can make changes which corresponds to your needs. I think there is no sense in a PR as I've found a few inaccuracies in the [commit](https://github.com/regularjack/HearsayRequireJSBundle/commit/bb590280c749f36d45439651c6a6079516b46e67), and as a result we will spend more time on code review and fixes.

Thanks for the contribution, guys!

[2013-08-28 15:45] psrpinto commented on #43
Yeah, I realize that commit is not PR-ready, it was a quick hack. I'm looking forward to having this feature "upstream" so that I can stop using my fork.

[2013-08-29 08:50] ihortymoshenko commented on #44
@ronnbot, can you provide your bundle configuration? What is this file `app.build.js`? The bundle doesn't provide such file.

[2013-08-30 14:21] ihortymoshenko commented on #44
@ronnbot, do you have the file `@AcmeDemoBundle/Resources/public/js/src/main.js`?

[2013-09-01 13:03] ihortymoshenko commented on #44
@ronnbot, I cannot reproduce anything in the `2.0` branch. By the way, you don't need manually run the `r.js` optimizer and to write the `app.build.js` file.

[2013-09-01 23:30] benglass commented on #43
@IgorTimoshenko let me know if there is anything in this issue or anywhere else where you could use contributors. I'd like to use 2.0 in production and the multi-module optimization with exclusions is key to my use cases so I'd be happy to contribute to making that a reality if you have a preferred approach to the one @regularjack implemented.

[2013-09-06 08:14] ihortymoshenko commented on #44
@ronnbot, try to look at this [issue](https://github.com/composer/composer/issues/2146).

[2013-09-08 17:51] ihortymoshenko commented on #43
@benglass, I've tried to implement this in the `master` branch and I've caught the following error message:

[code]

The config is:

[code]

So I'm not sure that is possible to implement now. I can propose to consider work with the `exclude` configuration option. If this configuration option doesn't work as expected, I'll fix it. Just let me know.

I also have some thoughts after reading the chang

[2013-09-08 17:54] ihortymoshenko commented on #44
@ronnbot, did you get lucky with resolving this issue?

[2013-09-08 23:06] benglass commented on #43
@IgorTimoshenko I also ran into the same errors before in trying to define excludes for my modules individually. It seems that the current format of the build profile being generated by this bundle is not compatible with specifying individual module settings.

I think the multi-module config could still work with the way you have the build profile implemented but you would need to set the excludes

[2013-09-10 09:30] andersaloof opened #47 "Setting hide_unoptimized_assets to false causes an InvalidConfigurationException"
In my config.yml file I've set hide_unoptimized_assets to true, and I have a working environment where r.js builds a single js file of the application, when I dump the assets with the assetic:dump console command etc.

However, in my dev environment (where nothing is supposed to be built into a single file), requests for the js files fails with a 404, when hide_unoptimized_assets is set to true (N

[2013-09-10 09:49] ihortymoshenko commented on #47
@andersaloof, the default value is `false`.

[2013-09-10 09:49] #47 closed, assigned to nobody

[2013-09-10 10:41] andersaloof commented on #47
Sorry to bother you again, but yes, I know the default value is false, but that doesn't solve my problem/challenge.

I have the following setup:
- hide_unoptimized_assets is set to true in config.yml
- config_dev.yml inherits config.yml settings via import resource

Since hide_unoptimized_assets is set to true in config.yml and the configuration of that parameter specifies that it cannotBeEmpty, I

[2013-09-10 10:42] craigmarvelley commented on #47
@IgorTimoshenko I also think the issue is valid - if someone wanted to set the value of this config property to be equal to a container parameter, they wouldn't be able to toggle the value of that parameter to false, they'd have to modify their config to remove the node. As the use of `booleanNode` enforces the type of the value, surely that's sufficient?

[2013-09-10 10:45] ihortymoshenko commented on #47
Ok, fixed. Thanks :)

[2013-09-10 10:55] andersaloof commented on #47
Great :)

[2013-09-14 19:12] ihortymoshenko commented on #43
@benglass, sorry for the delay in response.

I've thought to allow to specify the build profile's file, parse it, and replace paths. However, it won't work proper as we cannot parse expressions such as function, so I don't want to do it. Moreover, I don't understand how with the ability to specify the build profile's file we can fix the issue with excluding modules as even in this approach we need

[2013-09-16 16:53] benglass commented on #43
@IgorTimoshenko I think you may be correct that adding the ability to specify a build profile would not solve the issue at handle and parsing it would add significant complexity.

I will try switching to commit that @regularjack indicated and see if it works for my multi page site use case and let you know if I run into any issues.

I don't have a specific alternate suggestion on how to implement

[2013-09-18 12:21] andersaloof commented on #43
@benglass I forked the bundle today since I needed to specify multiple output modules/files for a project, and I wasn't allowed due to this error.

[code]

My fork and commit is here https://github.com/andersaloof/HearsayRequireJSBundle/commit/a3f4fde0186a6557dded8a5d8b8497dc68d14aec

My config btw is looking like this

[code]

Dunno if this fixes anything for you, but it made it possible for me t

[2013-10-08 17:39] hardchor commented on #18
Hi,

Having finally got the time to get back to this, I've got a bit of a better understanding of require and the bundle.

Many libraries like jquery plugins, moment.js etc. require named modules (i.e. jQuery defined as `"jquery"` and moment.js as `"moment"`). In vanilla require.js I'd define path aliases like so:

[code]

The paths config for the bundle is not the same as for requirejs in that it

[2013-10-09 14:47] VStoltzenberg opened #48 "extra template neccessary for require.js"
Instead of using //cdnjs.*.require.min.js as require_js_src in the config, we used to point directly to the js file hosted on our server. Now we had to create a twig template which we have to load, which does nothing but point to the js asset.

To clarify:
Before in our config:
hearsay_require_js:
    require_js_src: '/bundles/demofrontend/js/vendors/require.min.js'

hearsay_require_js:
    requir

[2013-10-10 10:08] ihortymoshenko commented on #48
@VStoltzenberg, the old configuration is not working for you? I'm surprised to see such approach to specify the path to the `RequireJS`. As for me, there is no nothing special in using template. However, I agree that is not the best way.

[2013-10-10 10:31] ihortymoshenko commented on #18
@hardchor, yes, you're right. The `paths` configuration is not the same.

You can specify in the `paths` configuration option:
- a namespace as a prefix to prefix some module directory;
- a concrete file without the `.js` file extension.

The main goal of this bundle is to expose directories where you store JavaScript files in order to provide the ability to the `RequireJS` load this files as modu

[2013-10-10 12:02] hardchor commented on #18
I'm struggling to see a scenario where this would actually work as intended. Let's say I've got a `AcmeDemoBundle` and an `AcmeOtherBundle`. Now assuming the following `config.yml`:

[code]

This would output the following require.js config:

[code]

I think what I'll have to do to get around the named modules problem at least is to set my `base_url` as `/bundles/acmedemo/js/vendor`, rename `jquer

[2013-11-05 16:08] bobwallis opened #49 "require_js Twig global no longer created"
I'm getting the error message `Variable "hearsay_require_js" does not exist` when following the instructions:

A trip into `./Twig/Extension/RequireJSExtension.php` shows that the reason for that error is that unlike in the 1.0.0 branch the Twig global is now never actually created.

Adding:

[code]

to `./Twig/Extension/RequireJSExtension.php`.

and:

[code]

to `./Templating/Helper/RequireJSHelp

[2013-11-11 21:56] heldr commented on #43
Hi,

@IgorTimoshenko did you find an approach instead of using a forked version?

[2013-11-29 16:45] #48 closed, assigned to nobody

[2013-12-03 19:05] sfblaauw opened #51 "Almond integration"
Hi, like @jrburke says:

This is the reason why I believe that it will be nice to have the possibility to use [Almond](https://github.com/jrburke/almond) for production environment.

I sent a PR with an approach and you can download and test it in [HearsayRequireJSWithAlmond](https://github.com/sfblaauw/HearsayRequireJSWithAlmond).

There is no test but If you think that can be integrated in Hears

[2013-12-04 10:57] #51 closed, assigned to nobody

[2013-12-14 19:52] #49 closed, assigned to nobody

[2013-12-15 21:35] ihortymoshenko commented on #18
@hardchor, I see. What do you expect to get? Please correct me if I'm wrong.

[code]

Thanks!

[2013-12-16 00:51] hardchor commented on #18
Yeah, that's it. I somehow worked around it in my implementation. I'll have a look tomorrow.

[2014-01-07 13:07] jifeon opened #54 "How can I use modules for r.js?"
I have a multi-page project and want organize my scripts following [this example](https://github.com/requirejs/example-multipage-shim). But when I specify "modules" section in the [build profile](https://github.com/jrburke/r.js/blob/master/build/example.build.js) for r.js, optimizer throws an error:

Optimization failed: Error: If the "modules" option is used, then there should be a "dir" option s

[2014-01-08 13:33] apsavin commented on #54
What if I'll just add a condition [here](https://github.com/hearsayit/HearsayRequireJSBundle/blob/master/Assetic/Filter/RJsFilter.php#L239)?

[2014-01-08 13:42] ihortymoshenko commented on #54
This issue is related to the issue https://github.com/hearsayit/HearsayRequireJSBundle/issues/43. So I think it should be resolved within the confines of the issue https://github.com/hearsayit/HearsayRequireJSBundle/issues/43. If you have any fresh ideas how to do it, feel free to contribute.

[2014-01-08 15:18] psrpinto commented on #43
I've been using [my fork](https://github.com/regularjack/HearsayRequireJSBundle/commits/build-layers) in production for several months without any issues. Just to make it clear, my solution allows defining per-module exclusions @benglass

I can turn this into a PR and we can continue the discussion there. What do you say @IgorTimoshenko ?

[2014-01-09 15:30] ihortymoshenko commented on #43
@regularjack, it sounds reasonable, let's try. Don't forget to write tests and update docs ;)

[2014-01-15 08:08] nvcristea opened #56 "Service ("templating.helper.assets") on cache:clear"
Clearing the cache for the dev environment with debug true

  [Symfony\Component\DependencyInjection\Exception\InactiveScopeException]
  You cannot create a service ("templating.helper.assets") of an inactive scope ("request").

Exception trace:
 () at /Users/enkas/Sites/SFC/symfony2/app/cache/de_/ap_DevDebugProjectContainer.php:4887
 ap_DevDebugProjectContainer->getTemplating_Helper_AssetsService

[2014-01-15 21:51] #56 closed, assigned to nobody

[2014-01-17 20:31] adrian-ludwig commented on #18
Any progress on this ?
@hardchor can you share how you got it to work ?

[2014-01-30 09:54] fduch commented on #43
@regularjack, i've took your idea for modules optimizations and built this solution on the top of current version of the Bundle, because we needed to optimize multipage application and we are working with newer version of the bundle (your fork was born before @IgorTimoshenko completely rewrite RJsFilter).

Besides i've added support of include attribute in module optimization section (it refers to

[2014-01-30 10:38] ihortymoshenko commented on #43
@fduch, I don't mind.

[2014-01-30 10:40] psrpinto commented on #43
@fduch Sounds great, I actually don't have much time available for this at the moment. Thanks!

[2014-01-30 10:53] fduch commented on #43
Ok, https://github.com/hearsayit/HearsayRequireJSBundle/pull/58

[2014-01-31 16:24] #54 closed, assigned to nobody

[2014-01-31 16:24] #43 closed, assigned to nobody

[2014-01-31 18:02] jifeon commented on #43
This is excellent, guys! Thanks you

[2014-02-01 18:32] #18 closed, assigned to nobody

[2014-02-01 18:43] ihortymoshenko commented on #18
@hardchor, I've fixed this issue. As for the `baseUrl` option and prefixing each module path, you can specify this option to empty string and all should work properly. Perhaps, should remove the `js` default value for this option to prevent related issues. Let me know if it doesn't work for you.

[2014-02-04 10:49] apsavin opened #59 "directories specified in the array "paths" in yml configuration file are not processed correctly"
part of my yml configuration file:

[code]

Actual result in generated config:

[code]

Expected result in generated config:

[code]

As you can see, js subdirectory is redundant here:
/compiled/js/require/global__/js__

[2014-02-05 09:22] #59 closed, assigned to nobody

[2014-02-12 02:35] rayrigam opened #61 "Twig Exception about Template name..."
As previously indicated in my comments to commit https://github.com/hearsayit/HearsayRequireJSBundle/commit/9293c46b35bdc652effb1928de82543e3de4e097, I get the following exception when updating to that commit or beyond:

Apparently, this error has to do with the format of the default "require_js_src" parameter. Should I not use the default?

I have tried changing my configuration but the error per

[2014-03-28 16:05] houdmont opened #68 "Undefined method"
Call to undefined method `Symfony\Component\Config\Definition\Builder\ArrayNodeDefinition::normalizeKeys()` in `DependencyInjection\Configuration.php` on line 54.

`->normalizeKeys(false)` was added to the configuration recently, however it causes the above exception to be thrown. (added [here](https://github.com/hearsayit/HearsayRequireJSBundle/commit/0cceff1c363566f7195ce93e757513a4b0ea50e3))

W

[2014-03-28 16:30] ihortymoshenko commented on #68
@houdmont, https://github.com/symfony/Config/blob/2.2/Definition/Builder/ArrayNodeDefinition.php#L310, since 2.2.

[2014-03-28 16:41] houdmont commented on #68
Thank you,

Is it possible to state that fact in the dependencies?

The project I am currently working on is using v2.1 (which explains why I ended up with issues). I'm not sure if it's possible, but should composer.json state that symfony >= 2.2 is necessary?

[2014-03-28 17:00] ihortymoshenko commented on #68
@houdmont, I'm not sure that's a good idea as I don't know how many people are using the old version.

[2014-03-28 17:04] houdmont commented on #68
@IgorTimoshenko I can't understand why this would be a bad idea?

If someone is using an old version of Symfony, adding this requirement would prevent them from breaking projects when including the RequireJSBundle.

If someone is using an older version of the RequireJSBundle, then they won't be affected by the new dependency requirement added to the latest version of the bundle.

I'm probably misu

[2014-03-28 17:10] ihortymoshenko commented on #68
@houdmont, yeah, you're right. I'll fix it.

[2014-03-28 17:12] ihortymoshenko commented on #68
@houdmont, moreover, it makes sense to require `"symfony/framework-bundle": ">=2.2.0"`.

[2014-03-28 17:23] houdmont commented on #68
@IgorTimoshenko that's great! Thanks for helping, sorry I wasn't able to submit a pull request myself with a fix.

[2014-04-10 22:51] ckovey opened #69 "Incorrect <script> output in production"
In production I'm seeing html generated that looks like

[code]

Which obviously won't load any js.  I've tried cache:clear, assets:install, assetic:dump to no avail.

Any pointers as to what I might be doing wrong?  Here are my settings:
#### config.yml

[code]
#### layout.html.twig

[code]
#### development output

[code]

[2014-04-16 19:37] jameshalsall opened #70 "Create a recent tag"
Could you create a recent tag which we can use so we can ensure we're on a stable version of the code?

The last tag was created 9 months ago.

[2014-04-20 11:55] liviucmg opened #71 "Fix src() method in RequireJSHelper.php"
Hi there,

I'm using PHP templates instead of Twig templates, and when initializing RequireJS using

[code]

I get the following error:

[code]

Doesn't matter whether I use the default file

[code]

or a custom file

[code]

The fix is easy. The [RequireJSHelper::src()](https://github.com/hearsayit/HearsayRequireJSBundle/blob/f0a0e541f2358c9c09b43838d5a533dd9c571280/Templating/Helper/RequireJSHel

[2014-04-20 22:41] liviucmg commented on #71
Actually it seems that the lines also need to be wrapped up in a try-catch block, because `$this->engine->supports` is throwing an `InvalidArgumentException`.

[2014-04-22 17:40] jameshalsall commented on #70
@IgorTimoshenko ping

[2014-07-02 21:59] maks-rafalko commented on #8
Seems like this issue is still relevant. I've read the documentation and don't understand how to use r.js / assetic with this bundle.

So, I can help with documentation sending PR, but I need help before because I have some questions.
1. Why `hearsay_require_js.optimizer_filter` service require `%assetic.node.bin%` when the default parameter name is `%assetic.node`? Because of this I should duplic

[2014-07-07 16:48] StevenGerdes opened #75 "Use this bundle with php templating engine (not twig)"
This may be considered a feature request... unless it is already possible. In that case maybe a doc needs to be written because for the life of me I cannot figure out how to call require_js_initialize() in a php template. I would put this on stack overflow but you guys don't seem to have a tag.

[2014-07-08 22:26] maks-rafalko commented on #8
ping @kmontag @IgorTimoshenko

[2014-07-30 09:36] lautr opened #77 "enable JS File loading from public folders to increase performance in development"
We are having the Issue that we use a lot of modules ( 20+ per page ), and since all of them in dev mode are loaded via PHP, this slows development ( especially if you develop in Vagrant like we do ) down considerably, we ether run in timeouts or have to wait forever before all modules are loaded.

As a Solution i would like to be able to load the modules directly form their public folders bypassi

[2015-10-03 04:40] girvo opened #78 "Multiple bundles?"
Using the `r.js` optimiser, is it possible to define multiple entry points? If I'm using the Assetic filter, is it smart enough to ahead-of-time compile the required entrypoint? The reason why I ask, is that different pages load different JS entrypoints, which `require()` their dependencies, and it'd be awesome if the `r.js` optimiser when used with this bundle would handle that!

[2015-10-14 01:54] girvo commented on #78
Never mind, it does exactly that! Using the `{%javascripts filter="?requirejs" %}` block, it will use that as an entry-point.

The one thing to be aware is that it has to point to a Javascript file that looks like this:

[code]

_NOT_ a regular `define()` module!

[2015-10-14 01:57] girvo commented on #77
@lautr The way I achieved this was setting each bundle up as a `path` in the config for `requirejs`; So: `CCESiteBundle/some/js/here` that points to `CCE/SiteBundle/Resources/public/js` -- combining that with `php app/console assetic:watch` meant that in dev mode it was loading it correctly from the public folder. It's quite fast, too, and works perfectly with the `r.js` optimizer in production mo

[2019-05-15 11:42] Pasuvan opened #81 "The child node "base_directory" at path "hearsay_require_js" must be configured."
I have upgrade symfony 3.4 to symfony flex , Once i upgrade and then clear the cache below issue found. Please reply ASAP
The child node "base_directory" at path "hearsay_require_js" must be configured.

[2019-05-30 14:32] Pasuvan commented on #81
totally waste of time.

[2019-06-03 17:43] tarlepp commented on #81
@Pasuvan noticed today @Symfony Slack that someone have this exactly same problem.

Could you provide some information how to solve this - so that whole community has information how to solve this?

[2019-06-04 08:47] Pasuvan commented on #81
@tarlepp I'm also trying to solve above issue But no one help on me. So I was removed hearsay_require_js bundles in my application and then closed this issue. I don't have a solution sorry.
Please Anyone help on him